<nav class="navbar">
  <div class="nav-logo">Bistro Anna</div>
  <div class="nav-links">
    <a routerLink="/">Hem</a>
    <a routerLink="/menu">Meny</a>
    <a routerLink="/booking">Boka</a>
    <a routerLink="/admin">Admin</a>
  </div>
</nav>
<main class="admin-content">

<section class="admin">
  <h2>Admin Login</h2>

  <div class="admin-form">
    <input type="text" placeholder="Användarnamn" [(ngModel)]="username">
    <input type="password" placeholder="Lösenord" [(ngModel)]="password">

    <button (click)="login()">Logga in</button>

    <p>{{ loginMessage }}</p>
  </div>
</section>

<div class="logout-container" *ngIf="token">
  <button (click)="logout()">Logga ut</button>
</div>

<section class="admin" *ngIf="token">
  <h2>Lägg till maträtt</h2>

  <div class="admin-form">
    <input type="text" placeholder="Titel" [(ngModel)]="newTitle">
    <textarea placeholder="Beskrivning" [(ngModel)]="newDescription"></textarea>
    <input type="number" placeholder="Pris" [(ngModel)]="newPrice">
    <input type="text" placeholder="Kategori" [(ngModel)]="newCategory">

    <button *ngIf="!editId" (click)="createMenuItem()">
    Lägg till maträtt
    </button>

    <button *ngIf="editId" (click)="updateMenuItem()">
    Spara ändringar
    </button>
    </div>
    </section>

<section class="menu" *ngIf="token">
  <h2>Hantera meny</h2>

  <div class="menu-container">
    <div class="menu-card" *ngFor="let item of menuItems">
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
      <span>{{ item.price }} kr</span>
    <button (click)="startEdit(item)"> Redigera </button>
    <button (click)="deleteMenuItem(item.id)">Radera</button>
    </div>
  </div>
</section>
</main>
<footer>
  <div class="footer-info">

    <div>
      <h3>Öppettider</h3>
      <p>Mån–Fre: 11.00–21.00</p>
      <p>Lör–Sön: 12.00–22.00</p>
    </div>

    <div>
      <h3>Hitta hit</h3>
      <p>Storgatan 12</p>
      <p>852 30 Sundsvall</p>
    </div>

    <div>
      <h3>Länkar</h3>
      <p><a routerLink="/menu">Meny</a></p>
      <p><a routerLink="/booking">Boka bord</a></p>
      <p><a routerLink="/admin">Admin</a></p>
    </div>

  </div>
</footer>